#container {
    max-width: 960px;
    margin: 0 auto;
}

#control {
    width: 100%;
}

#music-select{
    text-align: center;
    background-color: skyblue;
}

#seekbar {
    width: 100%;
}

#time-buttons{
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
}

#speed-buttons{
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
}

.times {
    padding-top: 10px;
    position: relative;
    width: 100%;
}

.times #stime {
    position: absolute;
    left: 0;
}

.times #ttime {
    position: absolute;
    right: 0;
}